Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDNDCCAhwCCQDwHP/FeaWygDANBgkqhkiG9w0BAQsFADBcMQswCQYDVQQGEwJV
      UzEVMBMGA1UEBwwMRGVmYXVsdCBDaXR5MRIwEAYDVQQKDAlSZXB1dGFibGUxIjAg
      BgkqhkiG9w0BCQEWE3RvbGdhb3V6ekBnbWFpbC5jb20wHhcNMjIwNTIyMTYxNDQw
      WhcNMjMwNTIyMTYxNDQwWjBcMQswCQYDVQQGEwJVUzEVMBMGA1UEBwwMRGVmYXVs
      dCBDaXR5MRIwEAYDVQQKDAlSZXB1dGFibGUxIjAgBgkqhkiG9w0BCQEWE3RvbGdh
      b3V6ekBnbWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCw
      VUY0jlJbFZjk7DtgmcZSI2sniAFGa3n9PIvW/qY1D7CxO/9ahmRWw9y7GjJkXjJw
      ZuQxTPjcw4VTeuJySRYMgP4Vxjm7u4E/JC9/Ocpl+e5t7TqWtV9vetzWZYR/0kDh
      p0NTzaze4eSQxF/gtB/NOwodESdPdysVFTeacOOO12rjWC7YOZf5Hhn5PzhKE4mJ
      MU2IRkxXe0PVMAG0IRY3MRi+FYTDmBcKSDaHgqlMZGV6TtGjqjJ4l0hhlsuEoWXF
      xBb5fDXhBjihG2r9xsDKEsd9N7pTtVryz3UjDkgnNaIFdCWy0h9YCgDPLuFXrrXa
      ipe/uJkCkrH/E02lBUeZAgMBAAEwDQYJKoZIhvcNAQELBQADggEBAFPdC4a5Kggt
      pbP8DU7dncYNC6xfTql61/fEN5LtMY2vOdhiApmQeHnFIUkon1PWqat135HNhGmR
      wSuTz9mBNZ+ta5ynjKTjlss7oVHyovyhxNFpviXeVlPAGJmQpp34hYrMwjUjTKDO
      aprKFSq0zTbfBxsU4FZagluxOiwWdbTlpbg3XeHU7ayHy5z3dEaCE893uqF5YdHR
      I07rnhiwzttD7TLelBZlqyrLTqZyGf2iVtreAeUeasH0s7DqD5UJfBjRBnOaiwke
      uUN+yr8iE588ugz2QHIiv37cHyDTzRNkO+kPW7q8tz9racl3K5E09QXCxlaGqkF/
      qW0HzubAFhY=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAsFVGNI5SWxWY5Ow7YJnGUiNrJ4gBRmt5/TyL1v6mNQ+wsTv/
      WoZkVsPcuxoyZF4ycGbkMUz43MOFU3rickkWDID+FcY5u7uBPyQvfznKZfnube06
      lrVfb3rc1mWEf9JA4adDU82s3uHkkMRf4LQfzTsKHREnT3crFRU3mnDjjtdq41gu
      2DmX+R4Z+T84ShOJiTFNiEZMV3tD1TABtCEWNzEYvhWEw5gXCkg2h4KpTGRlek7R
      o6oyeJdIYZbLhKFlxcQW+Xw14QY4oRtq/cbAyhLHfTe6U7Va8s91Iw5IJzWiBXQl
      stIfWAoAzy7hV6612oqXv7iZApKx/xNNpQVHmQIDAQABAoIBAD/bwf8Kg7zEx4gw
      HRjQ18erWAUK9htAlP8mzCXiNuMEeaLV7ZYlEXVynR+NTy6WBoI6YO2RyJZ6oHAp
      EpT87uU8Wcgc74+TSi1Jt4HFtgzURIq+3PbzXEqNHijuvttjk2elIXbaB374I8Rh
      ua8wzEuQ1ArOyYO3znxmIKrnsyFpO4NhbtmIltBZdHDs/EKqbOmt1ofnWvcyyESY
      anBONIlgqONAWaH+m97GPBqf6f2OTOS4b5k7cJESbRnp5ABMbYWUSCZHXtbwtryO
      zUkX5pEC+qm+/OPGT6gFWN0US5Fl0ep7MIera8F8LfhbvLCXj2WE0GTN5jmMQHKe
      30ll5xkCgYEA6nhIMW1qm4MNnQBZd8x1MRlB6u9KCZZJ7cjaKorCY9O3vBL86aPX
      A1oWqobXd6R996JNVB0esIp6z7SE62r07e+EtiGkEG5Pmk6TeOeu7k1/ZPNIEhSX
      y9lcXoVof00ZItAYc+0DuZTynky3iBWFIsL+n6UWBWTBZL0CXNXSPZMCgYEAwIZc
      6ioIV/CSQmYlfFNZyvbRw5GFxo5kcmwyIIAE99AqJSnXpE9ntCwVNnrw6M+9wpzG
      cXLWj2hJZ6bYpQhuxd1CvxvNejlxgP3ixGspc1emDG94dnL79I0LnhCCHk2/Amif
      uROTS5W/Lld5u13FvM0pqh+zkIme4xc7DRD7gaMCgYBZRvdmKp1fHWV/lHR8kxNE
      YLOiuv5b7Ce2LLY1YKRn0mOxbyFx7PqfwhvDTpiYa7+zHM+I6ZWX7wKYN8oswYsF
      ViAYIXMQ9o/E14p7jOwkvMl3LNMSX1j1O4xaST3iyv55LPdCnMrATSCceeWgIWGS
      POEq9HcQEq84pmdR5fCplQKBgQCf5vkFBCQp5gWUYIKB4DiT+qv+Yr9ZSqri3jpE
      BBAcQyi99SLFta3MV1DHDxVISEKzgMLRNzA9q8BL9qe5ameWr07gq5beDRfYqwXN
      XbPvuLyRV4QV3Sqm0v7zKYLo6Gnc9kiyzy9nd9hyBPV2SUwSo9QXGH1rbuIoewLw
      t0otQQKBgHOug409CxnvSs4rq8V9g74Y64pWV/kRBGFAw5RjVHBjmE7f3XHtJayH
      nwAiVkzkZYm36z3M5PwK2BgQcDZHdLlEPtJOtMoDvTPPsubsA+6UWO9ETBT01s2C
      s/0tJHHTTmw8ya6s6caaB69qU5AIErIfQQPYn+SZBnm9wzFowW9f
      -----END RSA PRIVATE KEY-----